h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
}

table {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width:100%;
    border: none;
}

td, th {  
    transition: all 0.3s;
    vertical-align: top;
    padding: 5px;
}

th {  
    background: #DFDFDF;
    font-weight: bold;
}